<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Weather App</title>
</head>
<body>
    <!-- Main Part -->
    <div class="main">
        <!-- Left Side -->
        <div class="mainLeft">
            <div class="description">Few Clouds</div>
            <div class="city">California</div>
            <div class="date">Friday, 2nd Sep '22</div>
            <div class="time">6:43 am</div>
            <div class="temperature">
                <div class="data">10 °C</div>
                <div class="icon">
                    <img class="infoIcon" src="http://openweathermap.org/img/wn/02n@2x.png" alt="">
                </div>
            </div>
            <div class="weatherDetailsContainer">
                <div class="weatherDetails">
                    <div class="detailIcon"><i class="fa-solid fa-temperature-high"></i></div>
                    <div class="detailInfo">
                        <div class="dataLabel">Feels Like</div>
                        <div class="data">10 °C</div>
                    </div>
                </div>
                <div class="weatherDetails">
                    <div class="detailIcon"><i class="fa-solid fa-droplet"></i></div>
                    <div class="detailInfo">
                        <div class="dataLabel">Humidity</div>
                        <div class="data">95 %</div>
                    </div>
                </div>
                <div class="weatherDetails">
                    <div class="detailIcon"><i class="fa-solid fa-wind"></i></div>
                    <div class="detailInfo">
                        <div class="dataLabel">Wind Speed</div>
                        <div class="data">2.2 km/h</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Side -->
        <div class="mainRight">
            <div class="searchBarContainer">
                <input type="search" name="search" id="search" placeholder=" City, Zip-Code or Country">
                <div class="searchButton"><i class="fa-solid fa-magnifying-glass fa-xs"></i></div>
            </div>
            <!-- Change Unit -->
            <button class="changeUnit">Display °F</button>
            <!-- Error message -->
            <div class="errorMessage">Location not found.
                Search must be in the form of "City", "City, State" or "City, Country".</div>
        </div>
    </div>
</body>
</html>